.Rproj.user
.Rhistory
.RData
.Ruserdata
tnt.Rproj
wgbs/CG_bsobj/
Figure_1_cache/
wgbs/.DS_Store
.DS_Store

Fig_2_cache/

Fig_3_cache/
ED_Fig_3b_CNV_analysis_cache/

ED_Fig_3ghi_ma_et_al_analysis_cache/

ED_Fig_4fgh_PNP_iPSC_analysis_cache/

CG_DMR_analysis_cache
Fig_4_cache

bfg-1.14.0.jar
manuscript_figure_layouts/tests/Supp_Fig_14.pdf
manuscript_figure_layouts/tests/Supp_Fig_14.psd
manuscript_figure_layouts/tests/Supp_Fig_15.pdf
manuscript_figure_layouts/tests/Supp_Fig_15.pdf.2023_05_14_20_18_24.0.svg
manuscript_figure_layouts/tests/Supp_Fig_15.psd
manuscript_figure_layouts/tests/Supp_Fig_15.svg
manuscript_figure_layouts/tests/Supp_Fig_15.xcf
Choi_ESC_iPSC_differential_expression_cache

REVISION_imprinting_analyses_cache

SCNT_differential_expression_cache

pluritestCompared
working
